body {
    margin: 0;
    font-family: Arial, sans-serif;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.logo img {
    max-width: 100%;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav ul li {
    margin-right: 20px;
}

nav ul li:last-child {
    margin-right: 0;
}

nav ul li a {
    text-decoration: none;
    color: white;
    transition: color 0.3s ease;
}

nav ul li a:hover {
    color: #007bff;
}

@media (max-width: 768px) {
    .container {
        flex-direction: column;
        align-items: stretch;
    }
    .logo {
        margin-bottom: 20px;
    }
    nav ul {
        flex-direction: column;
    }
    nav ul li {
        margin-right: 0;
        margin-bottom: 10px;
    }
}
body {
    margin: 0;
    font-family: Arial, sans-serif;
}

header {
    background-image: url('./images/mountains-morning-snow-rock-mountain-landscape.png'); 
    background-size: cover;
    background-position: center;
    height: 100vh; /
    padding: 20px 0; /
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

.logo img {
    max-width: 100%;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav ul li {
    margin-right: 20px;
}

nav ul li:last-child {
    margin-right: 0;
}

nav ul li a {
    text-decoration: none;
    color: #fff; 
    transition: color 0.3s ease;
}

nav ul li a:hover {
    color: #007bff; 
}

@media (max-width: 768px) {
    .container {
        flex-direction: column;
        align-items: stretch;
    }
    .logo {
        margin-bottom: 20px;
    }
    nav ul {
        flex-direction: column;
    }
    nav ul li {
        margin-right: 0;
        margin-bottom: 10px;
    }
}



body {
    margin: 0;
    font-family: Arial, sans-serif;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo img {
    max-width: 100%;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav ul li {
    margin-right: 20px;
}

nav ul li:last-child {
    margin-right: 0;
}

nav ul li a {
    text-decoration: none;
    color: white; 
}

.centered-text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.centered-text h3 {
    color: white; 
}

@media (max-width: 768px) {
    .container {
        flex-direction: column;
        align-items: stretch;
    }
    .logo {
        margin-bottom: 20px;
    }
    nav ul {
        flex-direction: column;
    }
    nav ul li {
        margin-right: 0;
        margin-bottom: 10px;
    }
}

.centered-text h3 {
    color: white; 
    margin-bottom: 20px; 
    
}

.btn-white {
    background-color: #fff;
    color: #333333; 
    border-radius: 20px; 
    margin-right: 10px; 
}

.btn-primary {
    border-radius: 0; 
}
